#headerWrapper {
    header {
        padding: 2rem $gutter;
    }

    h1 {
        font-size: 2rem;
    }
}

//Begin the Main.
section {
    grid-template-columns: 1fr 1fr;
}

nav {
    ul {
        display: flex;
    }
}
h1 {
   font-weight: $medWeight;
   padding: 0 $gutter;  
   font-size: 2rem;
}
section div h2 {
    font-size: 1.2rem;
}
#footerWrapper {
    width: 100%;
}